h1 {
	font-family: 'Sacramento';
	font-size: 50px;
	align-content: center;
	text-align: center;
	background-color: lightpink;
}

h2{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
}